@value rgbBlueDark: 18, 38, 63;
@value rgbGreen: 0, 217, 126;
@value rgbGreenAlt: 0, 179, 104;
@value rgbRed: 230, 55, 87;
@value rgbRedAlt: 204, 25, 58;
@value rgbOrange: 253, 126, 20;
@value rgbOrangeAlt: 227, 104, 2;
@value rgbBlue: 44, 123, 229;
@value rgbBlueAlt: 25, 103, 204;
@value rgbWhite: 254, 254, 253;
@value rgbWhiteAlt: 249, 251, 253;
@value containerGutters: 1.2rem;

.default {
  background: linear-gradient(to right bottom, rgb(rgbWhite), rgb(rgbWhiteAlt))
    left top no-repeat;
}

.success {
  background: linear-gradient(to right bottom, rgb(rgbGreen), rgb(rgbGreenAlt))
    left top no-repeat;
}

.error {
  background: linear-gradient(to right bottom, rgb(rgbRed), rgb(rgbRedAlt)) left
    top no-repeat;
}

.info {
  background: linear-gradient(to right bottom, rgb(rgbBlue), rgb(rgbBlueAlt))
    left top no-repeat;
}

.warning {
  background: linear-gradient(
      to right bottom,
      rgb(rgbOrange),
      rgb(rgbOrangeAlt)
    )
    left top no-repeat;
}

/* Component styles */
.toaster {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  max-width: 328px;
  padding: containerGutters;
  z-index: 3;
  transition: max-height 3s ease-in-out;
}

.topRight {
  top: 0;
  right: 0;
}

.bottomRight {
  bottom: 0;
  right: 0;
}

.topLeft {
  top: 0;
  left: 0;
}

.bottomLeft {
  bottom: 0;
  left: 0;
}

.toast {
  display: flex;
  align-items: center;
  color: rgb(rgbWhite);
  padding: 1.4rem;
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 10px #999;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  -moz-animation-timing-function: ease-in-out;
}

.default {
  color: rgb(rgbBlueDark);
}

.information {
  display: flex;
  flex-direction: column;
}

.notificationTitle {
  color: inherit;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.notificationMessage {
  color: inherit;
  margin: 0;
  font-weight: 300;
  font-size: 1.3rem;
}

.notificationImage {
  margin-right: 1.5rem;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.notificationImage > svg {
  width: 100%;
}

.button {
  align-items: flex-start;
  justify-content: flex-end;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  border: 0;
}

/* animations */
.slideInRight {
  -webkit-transform: translate3d(calc(100% + containerGutters), 0, 0);
  transform: translate3d(calc(100% + containerGutters), 0, 0);
  visibility: visible;
}
.slideInRightActive {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 300ms ease-in;
}
.slideOutRight {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slideOutRightActive {
  visibility: hidden;
  -webkit-transform: translate3d(calc(100% + containerGutters), 0, 0);
  transform: translate3d(calc(100% + containerGutters), 0, 0);
}

.slideInLeft {
  -webkit-transform: translate3d(calc(-100% - containerGutters), 0, 0);
  transform: translate3d(calc(-100% - containerGutters), 0, 0);
  visibility: visible;
}
.slideInLeftActive {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 300ms ease-in;
}
.slideOutLeft {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slideOutLeftActive {
  visibility: hidden;
  -webkit-transform: translate3d(calc(-100% - containerGutters), 0, 0);
  transform: translate3d(calc(-100% - containerGutters), 0, 0);
}
